.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 2px solid #eaeaea;
}

.navbar-logo img {
  height: 40px; /* Adjust the height of the logo */
  margin-right: 40px;
}

.navbar-links {
  flex: 1; /* Allows the links to center in the navbar */
  display: flex;
  justify-content: flex-start;
  gap: 2rem; /* Adds space between each link */
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #555; /* Hover effect for links */
}

.navbar-actions {
  display: flex;
  gap: 1rem; /* Space between action buttons */
}

.action-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.action-btn.primary {
  background-color: #cddc39; /* Greenish color */
  color: black;
}

.action-btn.secondary {
  background-color: transparent;
  border: 2px solid #cddc39; /* Outline style for Action 2 */
  color: #cddc39;
}

.action-btn.primary:hover,
.action-btn.secondary:hover {
  background-color: #b0c72b;
  color: white;
}


.hero{
  font-size: 40px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.hero-text{
  font-size: 20px;
  text-align: center;
  padding: 20px;
  
}
.hero-buttons{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap:10px;
  
  
  
}
.button-1{
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #cddc39; /* Greenish color */
  color: black;
}

.button-2{
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: 2px solid #cddc39; /* Outline style for Action 2 */;
  cursor: pointer;
  font-size: 0.9rem; /* Greenish color */
  color: black;

}

   .container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd; /* Optional: To show the container boundaries */
    column-gap: 20px;
  }
  
  .col {
    flex: 1;
    padding: 40px;
  }
  
  .image-col img {
    width: 100%; /* Ensures image fills the left column */
    height: auto; /* Keeps the aspect ratio */
     /* Adds a border around the image */
     /* Optional: Adds rounded corners */
    max-height: 400px;
  }
  
  .text-col {
    padding-left: 20px;
  }
  
  .text-col h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .text-col p {
    font-size: 1em;
    color: #666;
  }
  
  .text-col h2 + p {
    margin-top: 10px; /* Adds spacing between title and description */
  }
  
/* App.css or HeroSection.css */
.image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
}

